language: objective-c
osx_image: xcode8.1
install: 
  - brew update
  - brew outdated carthage || brew upgrade carthage
  - carthage bootstrap --platform mac, ios
branches:
  only:
    - master
script:
  - ci/script
xcode_project: ReactiveBeaver.xcodeproj
matrix:
  include:
    - xcode_scheme: ReactiveBeaverOSX
      env:
        - XCODE_SDK=macosx
        - XCODE_ACTION="build"
        - XCODE_DESTINATION="arch=x86_64"
    - xcode_scheme: ReactiveBeaveriOS
      env:
        - XCODE_SDK=iphonesimulator
        - XCODE_ACTION="build"
        - XCODE_DESTINATION="platform=iOS Simulator,name=iPhone 6s"
    - script:
        - brew update
        - brew outdated carthage || brew upgrade carthage
        - carthage build --no-skip-current --platform mac
      env:
        - JOB=CARTHAGE-macOS
    - script:
        - brew update
        - brew outdated carthage || brew upgrade carthage
        - carthage build --no-skip-current --platform iOS
      env:
        - JOB=CARTHAGE-iOS