language: objective-c
osx_image: xcode8.1
install: 
  - brew update
  - brew outdated carthage || brew upgrade carthage
  - carthage update --platform mac
branches:
  only:
    - master
script:
  - ci/script
xcode_project: ReactiveBeaver.xcodeproj
matrix:
  include:
    - xcode_scheme: ReactiveBeaverOSX
      env:
        - XCODE_SDK=macosx
        - XCODE_ACTION="build"
        - XCODE_DESTINATION="arch=x86_64"
    - xcode_scheme: ReactiveBeaverOSXTests
      env:
        - XCODE_SDK=macosx
        - XCODE_ACTION="build test"
        - XCODE_DESTINATION="arch=x86_64"